* {
  margin: 0;
}

header {
  background-color: #80804d;
}

footer {
  background-color: #80804d;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.background-image {
  background-image: url('./assets/pfander-family.jpg');
  background-size: cover;
  width: 100%;
}

.gabarito-regular {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

.nav-link {
  color: white;
}

.nav-link:hover,
.nav > .nav-item > .active {
  color: #e6e6b3;
}

.title {
  color: white;
}