* {
  margin: 0;
  padding: 0;
}

:root {
  --olive: #80804d;
}

#root {
  position: relative;
  min-height: 100vh;
}

button {
  background-color: var(--olive);
  border-style: none;
  border-radius: 10px;
  color: white;
}

button:hover {
  background-color: #666633;
}

header {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid var(--olive);
}

hr {
  display: none;
}

footer {
  background-color: var(--olive);
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer .nav-link {
  color: white;
}

.background-image {
  background-image: url('./assets/pfander-family.jpg');
  background-size: cover;
  background-position: center 30%;
  height: 100%;
  opacity: .8;
}

.olive-text {
  color: var(--olive);
}

.card {
  border: solid 2px silver;
}

/* Overriding Bootstrap's grid from the full background image */
.custom-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -90px;
  background-color: black;
}

.floating-box {
  position: absolute;
  text-align: center;
  background-color: rgba(128, 128, 77, 0.65);
  color: white;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-item {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
}

.gabarito-regular {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

.gotu-regular {
  font-family: "Gotu", serif;
  font-weight: 400;
  font-style: normal;
}

.nav-link,
.title {
  color: var(--olive);
}

.nav-link-home,
.title-home {
  color: white;
}

.nav-link:hover,
.nav > .nav-item > .active {
  color: #dada98;
}

.offcanvas {
  background-color: var(--olive);
}

.profile-pic {
  width: 100%;
  border-radius: 50%;
}

.resume {
  margin-bottom: 50px;
  width: 90%;
}

.footer-padding {
  padding-bottom: 100px;
}

.typewriter-effect {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs-pills .webapps-tab {
  border: 1px solid var(--olive);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 110px;
  color: var(--olive);
}

.tabs-pills .webapps-tab:hover,
.tabs-pills .webapps-tab.active {
  background-color: var(--olive);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: white;
}

.tabs-pills .designs-tab {
  border: 1px solid var(--olive);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 110px;
  color: var(--olive);
}

.tabs-pills .designs-tab:hover,
.tabs-pills .designs-tab.active {
  background-color: var(--olive);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
}

@media screen and (max-width: 767px) {
  .custom-container {
    height: calc(100vh - 280px);
  }

  .footer-padding {
    padding-bottom: 250px;
  }
}

@media screen and (max-width: 991px) {

  header ul li {
    padding-bottom: 1rem;
  }

  hr {
    display: block;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 1rem;
  }
}